# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

{{ apache_ports }}
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
